.my-journal {
    text-align: center;
    padding: 20px;
    min-height: calc(100vh - 100px); /* Adjust the value based on your footer's height */
  }
  
  .month-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
  }
  
  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
  }
  
  .day {
    border: 1px solid #ccc;
    padding: 10px;
    height: 100px;
    display: flex;
    flex-direction: column;
  }
  
  .day-0, .day-6 {
    background-color: #f0f0f0;
  }
  
  .date {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .emoji {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .entry {
    margin-top: 10px;
  }
  
  .no-entry {
    font-style: italic;
    color: #888;
  }
  