.mythought-list-container {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 50vh;
  }
  
  .mycard {
    height: 250px;
    min-width: 400px;
    flex: 1;
    margin: 20px;
  }
  
  .mycard-header {
    background-color: #11b8b1;
    border-radius: 5px 5px 0px 0px;
    white-space: nowrap;
  }
  
  .button-container {
    display: flex; 
    justify-content: center;
  }
  
  .button-wrapper {
    margin: 2px 5px;
  }
  
  .button-wrapper button {
    width: 100%;
    height: 100%;
  }
  
  @media (max-width: 767px) {
    .mycard {
      width: 90%;
      margin: 10px;
    }
    .mythought-list-container {
      justify-content: center;
    }
  }
  
  @media (min-width: 768px) {
    .mycard {
      flex-basis: 33.3333%;
    }
  }
  
  @media (min-width: 992px) {
    .mycard {
      flex-basis: 0 0 calc(33.3333% - 20px);
    }
  }

  @media (max-width: 1200px) {
    .mycard {
      min-width: 200px;
    }
  }

  